/* 尺寸 */
/* ----------------------- */
/* -------- 字体 --------- */
/* ----------------------- */
$fs-text-sm: 12px;
$fs-text: 14px; 
$fs-text-lg: 18px;
$fs-text-xl: 24px;
$fs-text-xxl: 30px;

// 图标
$fs-icon-sm: 14px; 
$fs-icon: 16px;
$fs-icon-lg: 24px;
$fs-icon-xl: 32px;
$fs-icon-xxl: 64px;


/* ----------------------- */
/* -------- 按钮 --------- */ 
/* ----------------------- */
$btn-padding: 0 18px;
$btn-height: 28px;
$btn-padding-lg: 0 21px;
$btn-height-lg: 32px;

/* ----------------------- */
/* -------- 表单元素 --------- */
/* ----------------------- */
$input-height: 32px;
$input-height-sm: 28px;

/* ----------------------- */
/* -------- 表格 --------- */
/* ----------------------- */
$table-row-height: 37px;

/* ----------------------- */
/* -------- 圆角 --------- */
/* ----------------------- */
$bd-radius: 3px;
$bd-radius-lg: 4px;