html, body {
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: var(--bg);
  overflow: hidden;
}
.app-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.no-data {
  text-align: center;
  margin: 50px auto;
  p {
    font-size: 0.5rem;
  }
}

.loadmore-container {
  align-items: center;
  color: #bebebe;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  margin: 10px auto;
  width: 120px;
}